In [1]:
# Importaciones
from src import soporte as sp
import pandas as pd # type: ignore
from tqdm import tqdm # type: ignore
# Para trabajar con archivos dotenv y los tokens
# -----------------------------------------------------------------------
import os
import dotenv # type: ignore
dotenv.load_dotenv()

True

In [2]:
df = pd.read_csv("datos/datos_con_geoposicion.csv", index_col = 0)

In [3]:
key = os.getenv("token")
df_all = sp.get_all_data(df,key)

100%|██████████| 5/5 [00:03<00:00,  1.52it/s]
100%|██████████| 1/1 [00:03<00:00,  3.29s/it]

In [4]:
df_all.sample(3)

,fsq_id,categories,distance,location,name
28,510e5f69e4b0f62779f2e538,"[{'id': 16032, 'name': 'Park', 'short_name': '...",1356,"{'admin_region': 'Comunidad de Madrid', 'count...",Ahuehuete
46,6f80c9465c864d8d08d945bd,"[{'id': 11036, 'name': 'Entertainment Service'...",1743,"{'address': 'Juan Álvarez Mendizábal, 54', 'ad...",Teleo Cuentos - Animal Party
171,6d1df448730c49d81fcfef7e,"[{'id': 10043, 'name': 'Theater', 'short_name'...",1027,"{'address': 'Cta. San Vicente, 4', 'admin_regi...",Alta Films

In [5]:
df_all.to_csv("datos/datos_completos_con_categorias.csv")